<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{siteTitle}}</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="alternate" type="application/rss+xml" title="{{siteTitle}}" href="{{feedHref}}">
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="lite-yt-embed.css">
</head>

<body>
  <ul class="channel-list-layout">
    {{#each sources}}
    <li>
      <section class="channel-layout js-horizontal-scroll">
        <h2>
          <a class="channel-name-link" href="{{siteUrl}}">{{title}}</a>
        </h2>
        <button class="scroll-btn scroll-btn--left channel-layout__scroll-left js-horizontal-scroll__backward" aria-label="Scroll left">
          <svg viewBox="0 0 24 24" fill="currentColor" preserveAspectRatio="xMidYMid meet" focusable="false" role="img" aria-hidden="true">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
          </svg>
        </button>
        <ul class="channel-layout__video-list no-scrollbar video-list-layout js-horizontal-scroll__list">
          {{#each articles}}
          <li class="video-item-layout video-list-layout__item js-horizontal-scroll__item">
            <lite-youtube watchUrl="{{link}}"></lite-youtube>
            <a class="video-title" href="{{link}}">{{title}}</a>
            <time class="video-publish-date js-relative-time" datetime="{{isoPublishDate}}">{{isoPublishDate}}</time>
          </li>
          {{/each}}
        </ul>
        <button class="scroll-btn scroll-btn--right channel-layout__scroll-right js-horizontal-scroll__forward" aria-label="Scroll right">
          <svg viewBox="0 0 24 24" fill="currentColor" preserveAspectRatio="xMidYMid meet" focusable="false" role="img" aria-hidden="true">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
          </svg>
        </button>
      </section>
    </li>
    {{/each}}
  </ul>

  <footer>
    <time class="js-relative-time" datetime="{{siteBuildTimestamp}}">{{siteBuildTimestamp}}</time>
    <span><a class="footer-link" href="{{projectUrl}}">youtubefeed {{cliVersion}}</a></span>
  </footer>

  <script src="lite-yt-embed.js" defer></script>
  <script src="relative-time.js" defer></script>
  <script src="horizontal-scroll.js" defer></script>
</body>

</html>
